.calc{
    width: 400px;
    height: 600px;
    background: beige;
    margin-left: 400px;

}
#screen{
    width: 80%;
    margin-left: 36px;
    height: 60px;
    margin-top: 30px;
    pointer-events: none;
}
.btn{
    width: 60px;
    height: 45px;
    margin-left: 30px;
    margin-top: 30px;
    background: grey;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}
#buttonZero{
    width: 155px;
}
#buttonClear{
    width: 155px;
    background-color: cadetblue;
    color: white;
}
#buttonEqual{
    background: indianred;
}